<div class="navbar navbar-inner block-header pos">
    <label class='span2'>
        <select name="area_town" id="area_town">
            <option value="" >请选择乡/镇</option>
            <notempty name="town_area_list">
                <foreach name="town_area_list" item="vo">
                    <option value="{$vo.id}" <eq name="vo.id" value="$town_area_info.id">selected</eq>>{$vo.area_name}</option>
                </foreach>
            </notempty>
        </select>
    </label>
    <label class='span2'>
        <select name="village_area" id="village_area">
            <option value="">请选择地块</option>
            <notempty name="village_area_list">
                <foreach name="village_area_list" item="vo">
                    <option value="{$vo.id}"  <eq name="vo.id" value="$village_area_info.id">selected</eq>>{$vo.area_name}</option>
                </foreach>
            </notempty>
        </select>
    </label>
    <label class='span2'>
        <select name="type" id="type">
            <option value="">请选择设备类型...</option>
            <notempty name="type_list">
                <foreach name="type_list" item="vo">
                    <option value="{$vo.type}" <eq name="vo.type" value="$type">selected</eq>>
                    <switch name="vo.type">
                        <case value="OUTDOOR">室外</case>
                        <case value="GREENHOUSE">棚室</case>
                    </switch>
                    </option>
                </foreach>
            </notempty>
        </select>
    </label>
    <label class='span2'>
        <select name="admin" id="admin">
            <option value="">请选择管理员...</option>
            <notempty name="admin_list">
                <foreach name="admin_list" item="vo">
                    <option value="{$vo.id}" <eq name="vo.id" value="$admin_id">selected</eq>>{$vo.name}</option>
                </foreach>
            </notempty>
        </select>
    </label>
    <label class='span4'>
        <input type='text'placeholder='设备编号/设备名称' style='width:120px;height: 30px; margin-rigth:0' name="keywords"  value='<notempty name="keywords">{$keywords}</notempty>'>
        <a href="javascript:void(0);" class='btn span1'  id="search" style='margin-left:0!important'>查询</a>
        <a href="javascript:void(0);" class='btn span1' id="addDevice"style='width:86px;background:#66b534!important;'>新增设备</a>
    </label>
</div>
