<div class='span9 wl-right'>
    <div class='wr-tit'>
        智能物联控制管理平台
        <a href="" class='glo'>退出</a>
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" data-ul='1'> <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class='yc-nav'>
            <a href="index.html">设备实时数据</a>
            <a href="jk.html">实时监控</a>
            <a href="yj.html">设备预警</a>
            <a href="tj.html">统计报表</a>
        </div>
    </div>